[Unit]
Description=Setup containerd explicit tmpfs mount point
Before=containerd.service
After=volatile-binds.service

[Mount]
What=tmpfs
Where=/var/lib/containerd
Type=tmpfs
Options=mode=0711,strictatime

[Install]
WantedBy=local-fs.target
